/**=====================
 custom CSS Start
==========================**/
// you can add your custom css here
//linh them ne
.title-info{
    color: #000080;
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }
.control-panel {
    font-size: 16px;
    color: white;
    background-color: #335fb3;
    border-radius: 5px;
    width: fit-content;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .disabled {
    cursor: not-allowed;
    color: lightgray;
  }
  .react-pdf__Page{
  display: flex;
  justify-content: center;
  align-items: center;
  }

 .ant-form-vertical .ant-form-item-label
 {
    margin: 0;
    padding: 0 0 0px;
    white-space: initial;
    text-align: start;
}

.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  margin-bottom: 12px;
  vertical-align: top;
}

:where(.css-dev-only-do-not-override-15rg2km).SwitchLoaiHopDong:hover:not(.ant-switch-disabled){
  background-color: rgb(33 177 51 / 76%);
}

:where(.css-dev-only-do-not-override-15rg2km).SwitchLoaiHopDong{
  background-color: green;
}
// .SwitchLoaiHopDong.css-dev-only-do-not-override-15rg2km.ant-switch:hover:not(.ant-switch-disabled){
//   background-color:green;
// }
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
  height: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.ant-input-number-input {
  text-align: right !important;  
}

.ant-input-number-handler-wrap {
  opacity: 0 !important;
  visibility: hidden;
}

// .ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody>tr>td, .ant-table-wrapper .ant-table.ant-table-middle tfoot>tr>th, .ant-table-wrapper .ant-table.ant-table-middle tfoot>tr>td {
//   padding: 5px 8px;
// }

.ant-table-wrapper tbody>tr td{
  padding: 12px !important;
}

.ant-table-wrapper thead>tr th{
  padding: 12px !important;
}

// .ant-table-wrapper .ant-table-expanded-row>td .ant-spin-container{
//   margin: 10px 10px;
// }

// .ant-input-number-affix-wrapper .ant-input-number-input {
//   padding: 5;
// }

